<h1 class="text-danger text-center">

    {{ book.Title | uppercase }}<small> </small> </h1>
<hr>

<div class="text-center">
    <div class=" animated fadeIn fast">
        <img src="http://picsum.photos/200/300/?image={{book.ID}}" [alt]="book.Title">
    </div>
    <small>({{ book.PublishDate | date:'y' }}) </small>

</div>
<br>
<br>
<div class=" mb-3">

    <div class="card-body animated fadeIn fast">
        <h5 class="card-title"><b> Title </b>:{{ book.Title}}</h5>
        <hr>
        <p class="text"> <b> Description </b>: {{ book.Description }}</p>
        <hr>
        <p class="text"> <b> Excerpt </b>: {{ book.Excerpt }}</p>
        <hr>

        <p class="text"> <b> PageCount </b>: {{ book.PageCount }}</p>
        <hr>
        <p class="text"><small class="text-muted"><b> PublishDate  </b>:{{ book.PublishDate }}</small></p>
        <hr>
    </div>
    <button type="submit" class="btn btn-outline-danger btn-block">EDIT</button>
    <button (click)="deleteBook(this.book.ID)" type="submit" class="btn btn-outline-danger btn-block">REMOVE</button>
    <button type="submit" class="btn btn-outline-danger btn-block" [routerLink]="['/books']">RETURN</button>
    <form class="text-center animated fadeIn fast">

        <br>
        <hr>


        <h1 class="text-danger text-center">

            EDIT BOOK<small> </small> </h1>
        <hr>
        <div class="form-group">

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">

        </div>

        <div class="form-group">

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter number of pages">

        </div>

        <div class="form-group">

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description">

        </div>

        <div class="form-group">

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter abstract">

        </div>

        <div class="form-group ">

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date">

        </div>




    </form>
    <div class="animated fadeIn fast">
        <button type="submit" class="btn btn-outline-danger btn-block">SAVE</button>

    </div>

</div>