<br>
<br>
<h1 class="text-danger text-center ">

    Create New Book<small> </small> </h1>
<br>
<hr>

<br>

<form action="procesar.php" method="">
    <div id="div_file">
        <p id="texto">Add file</p>
        <input type="file" id="btn_enviar">

    </div>
</form>

<form class="text-center ">
    <br>
    <br>
    <div class="form-group">

        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">

    </div>
    <br>
    <div class="form-group">

        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter number of pages">

    </div>
    <br>
    <div class="form-group">

        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description">

    </div>
    <br>
    <div class="form-group">

        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter abstract">

    </div>
    <br>
    <div class="form-group ">

        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date">

    </div>
    <br>
    <br>

    <button type=" button " class="btn btn-outline-danger ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
</form>